.ui-state-default, .ui-widget-content .ui-state-default,
	.ui-widget-header .ui-state-default {
	border: none !important;
}

form .btn{
	border: none !important;
	text-shadow: none !important;
	background-image: none !important;
	color: #ffffff !important;
	font-family: "Helvetica Neue, Helvetica, Arial, sans-serif" !important;
}

form .btn .btn-back{
	background-color: #f0ad4e !important;
}

form .btn .btn-save{
	background-color: #5cb85c !important;
}

form .btn .btn-new{
	background-color: #5cb85c !important;
}

form .btn .btn-edit{
	background-color: #5bc0de !important;
}

form .btn .btn-delete{
	background-color: #d9534f !important;
}