.ui-state-default, .ui-widget-content .ui-state-default,
	.ui-widget-header .ui-state-default {
	border: none;
}

.ui-widget .ui-button {
	text-shadow: none;
	background-image: none;
	color: #ffffff;
	font-family: "Helvetica Neue, Helvetica, Arial, sans-serif";
}

.ui-widget .ui-button .btn-back{
	background-color: #f0ad4e;
}

.ui-widget .ui-button .btn-save{
	background-color: #5cb85c;
}

.ui-widget .ui-button .btn-new{
	background-color: #5cb85c;
}

.ui-widget .ui-button .btn-edit{
	background-color: #5bc0de;
}

.ui-widget .ui-button .btn-delete{
	background-color: #d9534f;
}


